.busca {
    position: relative;
    width: 100%;
    max-width: 240px;
}
.busca__input {
    border: none;
    border-radius: 20px;
    padding: 8px 24px;
}
.busca__btn {
    background: transparent;
    border: none;
    position: absolute;
    top: 2px;
    right: 25px;
    z-index: 2;
}