.quemSomos {
    padding: 64px 0;
}
.quemSomos--esquerda {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
.quemSomos--direita {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 70%;
}

.quemSomos__title {
    color: #000;
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 24px;
    max-width: 240px;
    text-transform: uppercase;
}

.quemSomos__text {
    font-size: 16px;
    color: #000;
    margin: 0 0 24px;
    max-width: 240px;
}

.quemSomos__btn {
    border: 1px solid #000;
    border-radius: 6px;
    display: inherit;
    color: #000;
    font-size: 16px;
    padding: 12px 24px;
    text-decoration: none;
}
.quemSomos__btn:hover {
    color: #fff;
    background: #000;
}

@media(max-width: 769px){
    .quemSomos {
        padding: 32px;
    }
    .quemSomos--direita {
        width: 100%;
    }
    .quemSomos--esquerda {
        margin-bottom: 24px;
        width: 100%;
    }
    .quemSomos__title {
        font-size: 28px;
        max-width: 100%;
    }
    .quemSomos__text {
        font-size: 14px;
        max-width: 100%;
    }
    .quemSomos__btn {
        font-size: 14px;
        padding: 8px 18px;
    }
}